# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
bin/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Maven
# =========================
target/

# =========================
# Gradle
# =========================
.gradle/
build/

# =========================
# Java compiled files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# Database files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Environment files
# =========================
.env

fattura_*
preventivo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db